<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
      {{> header}}
    <!-- <h1>Hi </h1> -->
    <p>Hi this is done for learning</p>
{{> footer}}
   <!-- <footer>
    //  <p>copy {{currentYear}}</p>
    //</footer> -->
  </body>
</html>
